.wrapper {
  margin: 30px;
  display: flex;
  gap: 30px;
}

p {
  padding: 10px;
}

img {
  object-fit: cover;
  height: 100%;
}

.link {
color: rgb(32, 197, 32);
}

.active {
  font-weight: 600;
  color: rgb(32, 197, 32);
}

.before {
  padding-left: 10px;
}

.between {
  margin-right: 10px;
}